table.table1
{ margin: 10px 0 30px 0;}

table.table1 tr th
{ background: yellowgreen;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}