<div class="container">
		<div class="row">
	  			<div class="col-md-3" id="leftCol">	
					<div class="well vertical-menu"> 
		              	<ul class="nav nav-stacked" id="sidebar">
		                  <li><div (click)="toggleTab('loadAttendance')" [class.active]="tabName == 'loadAttendance'">Load Attendance</div></li>
		                  <li><div (click)="toggleTab('loadAssignments')" [class.active]="tabName == 'loadAssignments'">Load Assigments</div></li>
		                  <li><div (click)="toggleTab('loadMessage')">Load Messages</div></li>
		                  <li><div (click)="toggleTab('loadAnnouncements')">Load Announcements</div></li>
		                  <li><div (click)="toggleTab('loadTimeTable')">Load Time Table</div></li>
		                  <li><div (click)="toggleTab('loadReportCard')">Load Report Card</div></li>
		                  <li><div (click)="toggleTab('loadReceipts')">Load Receipts</div></li> 
		              	</ul>
	  				</div>
	      		</div>  
	      		
	      		<div>
	              	<h4><span>
						Welcome <i><u><b>{{getUserName()}}</b></u></i> You are logged in as
						<i><u><b>{{getRole()}}</b></u></i>
	              		You can choose any option on the left side to perform different function
					</span></h4> 
	      		</div> 

				<load-attendance *ngIf="tabName=='loadAttendance'"></load-attendance>
				<load-assignments *ngIf="tabName=='loadAssignments'"></load-assignments>
	  	</div>
</div>